.body{
    border: 2px solid black;
    margin-top: 20px;
    
}


.otp-head{
    background-color: rgb(29, 153, 85);
    color: white;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 10px;
    
}

.otp{
    font-weight: bold;
    font-size: 24px;
}

.flash img{
    padding-left: 10px;
    height: 40px;
    width: 60px;
    
}

.otp-body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
    
}
.div{
    height: 50px;
    width: 50px;
    border: 2px solid gainsboro;
    font-size: 32px;
    text-align: center;
}

.body-row{
    
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp-footer{
    background-color: rgb(29, 153, 85);
    color: white;
    text-align: center;
    border-top: 2px solid black;
    padding: 10px;
    
}

.generator{
    font-weight: bold;
    font-size: 22px;
    
}

.generator img{
    height: 20px;
    width: 40px;
    padding: 0;

}

.div input{
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;

}
input::placeholder{
    color: gainsboro;
    
}